@keyframes quiet {
  10% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
    transform: scaleX(1);
  }

  50% {
    transform: scaleY(.4);
    transform: scaleX(.4);
  }

  75% {
    transform: scaleY(5.0);
    transform: scaleX(5.0);
  }
}

body {
  display: flex;
  justify-content: center;
  background: black;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100vh;
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 40);
}

.box {
  transform: scaleY(.9);
  height: 200%;
  width: var(--boxSize);
  background: #12E2DC;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}


.box6 {
  animation-name: loud;
}

.box7 {
  animation-name: normal;
}



.box8 {
  animation-name: loud;
}

.box9 {
  animation-name: quiet;
}

.box10 {
  animation-name: normal;
}